@import "../../styles/variables.scss";

.full-page-layout {
  width: 100vw;
  height: 700px;
  min-height: 100vh;
  position: relative;
  
  .container {
    width: $container-width-lg;
    height: 200px;
    min-height: 90%;
    margin: 0 auto;
    padding-top: 10vh;
    position: relative;
    text-align: center;
    
    
    @media screen and (max-width: 1024px) {
      width: $container-width-md;
    }

    @media screen and (max-width: 600px) {
      width: $container-width-sm;
    }

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
      color: $color-primary;
      margin-bottom: 3rem ;
    }

    h5 {
      text-align: center;
      color: $color-light;
    }
  }
}
